body {
    font-family: 'Roboto', sans-serif;
}

.container-body {

    padding-top: 6em;
}

.about-me, .abilities, .about-me-text, .item, .items-enumerating, .portfolio div {
    display: flex;
}

.about-me {
    padding-top: 5.5em;
    justify-content: space-around;
    width: 100%;
}

.about-me-text {
    margin: 4.5em 0 0 3em;
    flex-direction: column;
    align-items: center;
}

.about-me-text div p {
    margin-top: 4em;
}

p {
    font-size: 1.1em;
    text-align: justify;
}

h1, h2 {
    color: #040467;
}

.about-me-text > div:first-child {
    width: fit-content;
    margin: 0 auto;
    border-bottom: solid .2em blue;
}

.about-me-text > div:last-child {
    width: 75%;
}

#me {
    position: relative;
    z-index: -1;
    height: 30em;
}

.abilities {
    padding-top: 10em;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.skills {
    width: 100%;
    text-align: start;
}

hr {
    color: gray;
    height: .01em;
    margin-bottom: 3em;
    width: 75%;
}

.items-enumerating {
    margin-top: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 47%;
    justify-content: space-between;
    padding: .5em 0 0 .2em;
}

.item:hover {
    background: #F3EFE0;
}

.stars .fa {
    transition: all 0.3s;
}

.item:hover .stars .fa {
    margin-right: .2em;
}

.stars {
    margin: .2em 0 0 2em;
}

.skills span {
    color: blue;
}

.portfolio {
    text-align: center;
    padding-top: 10em;
}

.portfolio div {
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
    object-fit: cover;
    width: 60vh;
    border: solid 0.1em black;
    margin: 0.5em;
}

@media (max-width: 750px) {
    .abilities {
        width: 90%;
    }

    .about-me-text {
        margin-left: 0;
    }

    h1 {
        font-size: 2.2em;
    }

    .item {
        width: 100%;
    }

    .photo {
        width: 90%;
    }

    .about-me, .portfolio, .portfolio div {
        flex-direction: column;
        align-items: center;
    }
}